<p>
  Here is just a tool I quickly put together to calculate the materials needed
  for given artefacts.
  <br />
  Simply select what artefacts you plan on making and at the list of the
  materials you need will appear.

  <br />

  Last update time of GE prices <span>{{ updateTime || async }}</span>

  <br />
  Special thanks to KhaleesiZara & Anilokip4 for helping me with this!
  <br />
  If you notice any issues please let me know in game or tag me in Archaeology
  discord!
  <br />
  Mikemicmike
</p>
