<div class="row">
  <div class="col">
    <h4>Chosen Artefacts</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let artefact of chosenArtefacts" class="list-group-item">
        <img [src]="artefact.image" [alt]="artefact.label" class="mr-2" />
        {{ artefact.quantity }} {{ artefact.label | titlecase }} ({{
          artefact.xp
        }}xp each)
      </li>
    </ul>
    <div *ngIf="totalXp">
      <h5>XP:</h5>
      <div class="row">
        <div class="col">
          Use 2% relic
        </div>
        <div class="col checkboxWrapper">
          <span class="squaredOne">
            <input
              (change)="toggleisrelic()"
              type="checkbox"
              value="None"
              id="squaredOne"
              name="check"
              [ngModel]="isRelic"
            />
            <label for="squaredOne"></label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col selectWrapperLabel">
          <label for="outfit">Outfit</label>
        </div>
        <div class="col selectWrapper">
          <select
            class="select-css"
            [ngModel]="isOutfit"
            (ngModelChange)="onchangedowndown($event)"
          >
            <option value="none">
              None
            </option>
            <option value="outfit">
              outfit
            </option>
          </select>
        </div>
      </div>
      <h6><u>Total XP:</u> {{ getTotalXP() | number: '1.0-0' }}</h6>
    </div>
  </div>
</div>
