<div class="row">
  <div class="col">
    <h4>Chosen Artefacts</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let artefact of chosenArtefacts"
          class="list-group-item">
        <img [src]="artefact.image"
             [alt]="artefact.label"
             class="mr-2" />
        {{ artefact.quantity }} {{ artefact.label | titlecase }} ({{
          artefact.xp
        }}xp each)
      </li>
    </ul>
    <div *ngIf="totalXp">
      <div class="row form-group mt-2">
        <label for="outfitPieces"
               class="col-sm-2 col-form-lavel">2% Relic</label>
        <div class="col-sm-10">
          <div class="custom-control custom-switch">
            <input type="checkbox"
                   [(ngModel)]="isRelic"
                   (ngModelChange)="recalculateXp()"
                   class="custom-control-input"
                   id="outfitPieces">
            <label class="custom-control-label"
                   for="outfitPieces"></label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label for="outfitPieces"
               class="col-sm-2 col-form-lavel">Outfit Pieces</label>
        <div class="col-sm-10">
          <select class="form-control"
                  [(ngModel)]="outfitPieces"
                  (ngModelChange)="recalculateXp()">
            <option value="0">
              0
            </option>
            <option value="1">
              1
            </option>
            <option value="2">
              2
            </option>
            <option value="3">
              3
            </option>
            <option value="4">
              4
            </option>
            <option value="5">
              5
            </option>
          </select>
        </div>
      </div>
      <h6><u>Total XP:</u> {{ calculatedXp | number: '1.0-0' }}</h6>
    </div>
  </div>
</div>