@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@mixin card-floating-body() {
  background: inherit;
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 50vh;
  overflow: auto;
  box-shadow: 0 0 1px 1px #000000;
}

.xp-calculator, .material-bank /*, .data-entry */ {
  .card-body {
    @include card-floating-body();
  }
}

.sun {
  background-image: url('https://runescape.wiki/images/thumb/4/49/Light_mode_icon.png/70px-Light_mode_icon.png?a56d2');
  width: 14px;
  height: 14px;
  background-size: 100% 100%;
}

.moon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.85464918.37900488c-1.91149353 1.51069427-3.13816124 3.84973402-3.13816124 6.47527736 0 4.55564936 3.69308349 8.24873286 8.24873286 8.24873286 2.5815709 0 4.8861545-1.1859235 6.3986798-3.0426994-.8206378 4.7389755-4.9523867 8.343122-9.9259291 8.343122-5.56375572 0-10.07407088-4.5103151-10.07407088-10.0740709 0-5.02506013 3.67919933-9.19079725 8.49074856-9.95036192z' fill='%23cbd9f4' fill-rule='evenodd'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-size: 100% 100%;
}

#sticky-footer {
  flex-shrink: none;
}

#page-content {
  flex: 1 0 auto;
}

.text-warning {
  color: #ec7513 !important;
}

.dark .done {
  background-color: #2e5e05;
  color: #ecf8e3;
}

.done {
  background-color: #c3e8a3;
}

.selected-artefact {
  background-color: #ddd;
}

.dark {
  color: white !important;
  background-color: #272727 !important;
  .card {
    background-color: #1f1f1f !important;
    color: white !important;
  }
  .table {
    color: white;
  }

  .list-group-item {
    background-color: #1f1f1f !important;
    color: white !important;
  }

  .dark-text {
    color: black;
  }
  .selected-artefact {
    background-color: #888;
  }
}

.material-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;

  .dark &.material-needed:hover {
    background-color: #3c780a;
  }
  
  &.material-needed:hover {
    background-color: #ecf8e3;
  }
}

@include media-breakpoint-up(xl) {
  .material-card-holder:nth-child(odd) {
    padding-right: 0px;
  }
  .material-card-holder:nth-child(even) {
    padding-left: 0px;
  }
}

// .checkmark-container {
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .checkmark-container input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// .checkmark {
//   position: absolute;
//   left: 2%;
//   top: 25%;
//   height: 25px;
//   width: 25px;
//   border-radius: 4px;
//   border: 2px solid #47d147;
// }

// .checkmark-container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

// .checkmark-container input:checked ~ .checkmark {
//   background-color: #47d147;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: '';
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .checkmark-container input:checked ~ .checkmark:after {
//   display: block;
// }

// .checkmark-container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
