<div class="d-flex flex-column"
     style="height: 100%">
  <div style="flex: 1 0 auto;"
       [ngClass]="{'dark': darkMode}">
    <div class="container-fluid">
      <h1>
        Archaeology Artefact Material Calculator
        <button *ngIf="!darkMode"
                class="btn btn-info float-right"
                (click)="toggleDarkMode(true)">
          <div class="moon"></div>
        </button>
        <button *ngIf="darkMode"
                class="btn btn-info float-right"
                (click)="toggleDarkMode(false)">
          <div class="sun"></div>
        </button>
      </h1>
      <div class="row">
        <div class="col-lg-6">
          <app-intro-text></app-intro-text>
        </div>
        <!-- <div class="col-lg-6">
          <app-donations></app-donations>
          <app-xp-calculator [(outfitPieces)]="outfitPieces"
                             (outfitPiecesChange)="outfitPiecesChanged()"
                             [(isRelic)]="isRelic"
                             (isRelicChange)="isRelicChanged()"></app-xp-calculator>
          <app-material-bank></app-material-bank>
        </div> -->
      </div>
<!-- 
      <div class="row">
        <div class="col-md-6">
          <app-artefact-chooser [darkMode]="darkMode"></app-artefact-chooser>
        </div>
        <div class="col-md-6">
          <h2>Results</h2>
          <app-chosen-artefacts [(outfitPieces)]="outfitPieces"
                                (outfitPiecesChange)="outfitPiecesChanged()"
                                [(isRelic)]="isRelic"
                                (isRelicChange)="isRelicChanged()"></app-chosen-artefacts>
          <app-required-materials></app-required-materials>
          <app-owned-materials></app-owned-materials>
          <app-needed-materials></app-needed-materials>
        </div>
      </div> -->
    </div>
  </div>
  <footer id="sticky-footer"
          class="pt-1 pb-2 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright 2020 &copy; RSN: Mikemicmike - Clan: Rise of the Abyss</small>
    </div>
  </footer>
</div>