<div class="row mt-2">
  <div class="col">
    <h4>
      Owned Materials
      <button (click)="store.removeOwnedMaterials()"
              class="btn btn-sm btn-danger">Remove Owned</button>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 material-card-holder"
       *ngFor="let material of neededMaterials">
    <div class="p-2 material-card">
      <input type="number"
             class="form-control mr-2"
             style="max-width: 80px; display: inline"
             [(ngModel)]="componentTypes[material.type.id].owned"
             (input)="changedOwned(material)">
      <div class="d-inline-block"
           style="width: 30px;">
        <img [src]="material.type.image"
             [alt]="material.type.label"
             class="mr-2">
      </div>
      {{material.type.label}}
    </div>
  </div>
</div>